<form method='post' action='/recipe'>
  <fieldset>
    <legend>New Recipe</legend>

    <div>
      <label for='title'>Title</label>
      <input name='title' />
    </div>

    <div>
      <label for='stuff'>Stuff</label>
      <input name='stuff[0][amount]'/>
      <input name='stuff[0][name]'/></br>
      <input name='stuff[1][amount]'/>
      <input name='stuff[1][name]'/></br>
      <input name='stuff[2][amount]'/>
      <input name='stuff[2][name]'/></br>
    </div>
    <div class='buttons'>
      <input type='submit' value='Save Recipe' />
    </div>
  </fieldset>
</form>
